pkgbase = kswitch-data-transfer
	pkgdesc = Open-source data transfer tool for Linux - Samsung Smart Switch alternative
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/Zyren-Lab/KSwitch
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = jdk17-openjdk
	depends = java-runtime>=17
	depends = android-tools
	conflicts = kswitch
	source = git+https://github.com/Zyren-Lab/KSwitch.git#tag=v1.1.0
	sha256sums = 8333eeffb9d42f38bd7bc9ff72aa7dc5507f0ac566e1ec2340dd4dfae4286489

pkgname = kswitch-data-transfer
