[Desktop Entry]
Name=KTodo
GenericName=Task Manager
Comment=Manage your tasks and subtasks
Exec=ktodo
Icon=view-pim-tasks
Terminal=false
Type=Application
Categories=Qt;KDE;Office;ProjectManagement;
Keywords=todo;tasks;checklist;subtasks;productivity;
